html, body, #map {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

path {
  fill-opacity: .4;
  stroke: #fff;
  stroke-width: 0.1px;
}
/*
body{
    padding-top: 65px;
} */

.transport-mode{
    padding-top: 15px;
}

.transport-time{
    padding-top: 14px;
    padding-left: 13px;
}

.transport-cutOff{
    padding-top: 7px;
    padding-left: 14px;
}

#slider1_val{
  color: #9d9d9d;
  padding-top: 24px;
  padding-left: 7px;
}

#sliderLabel{
  color: #9d9d9d;
  padding-top: 20px;
}

#snap{
  position:relative;
  left:14px;
  top:14px
}

td {
    text-align: center;
}

/* .bottom {
    fill: red;
    z-index: 5;
}

.legend {
    line-height: 18px;
    color: #555;
} */
