html, body, #map {
  margin-top: 25px;
  width: 100%;
  height: calc(100% - 25px);
}

path {
  fill-opacity: .4;
  stroke: #fff;
  stroke-width: 0.1px;
}

.info {
    padding: 4px 6px;
    font: 12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend {
    line-height: 18px;
    color: #555;
    opacity: 0.7;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.switch {
  margin-top: 9px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.transport-mode{
    padding-top: 15px;
}

.transport-time{
    padding-top: 14px;
    padding-left: 13px;
}

.transport-cutOff{
    padding-top: 7px;
    padding-left: 14px;
}

#slider1_val{
  color: #9d9d9d;
  padding-top: 24px;
  padding-left: 7px;
}

#sliderLabel{
  color: #9d9d9d;
  padding-top: 20px;
}

/* .stops {
    z-index: 1000;
} */

div.tooltip {
    position: absolute;
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: -50px;
}

#snap{
  position:relative;
  left:14px;
  top:14px
}

td {
    text-align: center;
}


.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane > svg path, .leaflet-tile-container {
				pointer-events: visible;
			}
