html, body, #map {
  margin-top: 25px;
  width: 100%;
  height: calc(100% - 25px);
}

path {
  fill-opacity: .4;
  stroke: #fff;
  stroke-width: 0.1px;
}

.transport-mode{
    padding-top: 15px;
}

.transport-time{
    padding-top: 14px;
    padding-left: 13px;
}

.transport-cutOff{
    padding-top: 7px;
    padding-left: 14px;
}

#slider1_val{
  color: #9d9d9d;
  padding-top: 24px;
  padding-left: 7px;
}

#sliderLabel{
  color: #9d9d9d;
  padding-top: 20px;
}

/* .stops {
    z-index: 1000;
} */

div.tooltip {
    position: absolute;
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: -50px;
}

#snap{
  position:relative;
  left:14px;
  top:14px
}

td {
    text-align: center;
}

.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane > svg path, .leaflet-tile-container {
				pointer-events: visible;
			}
